name: Spelling Check

on:
  push:
    branches: [main]
  pull_request:

jobs:
  check-spelling:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run Americanism Uwotm8-Linter
        uses: ./.github/actions/uwotm8-linter
        with:
          root: "."
